@media (max-width: 1199px) {
.container {
    width: 768px;
}
.desktop-only {
    display: none !important;
}
.nav-list {
    column-gap: 30px;
}
.promo-wrapper {
    height: 350px;
    padding-left: 20px;
    border-radius: 20px;
}
.promo-title {
    font-size: 40px;
    margin-bottom: 0px;
}
.promo-text {
    font-size: 18px;
}
.main-content {
    padding: 60px 0;
}
.content-row {
    column-gap: 30px;
}
.content-img, .content-text {
    flex: 1;
}
.content-img {
    border-radius: 20px;
}
.content-text {
    row-gap: 10px;
}
.title-1  {
    font-size: 38px;
}
.content-text p {
    font-size: 14px;
}
.footer-wrapper {
    padding: 40px 0;
}
.footer-row {
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-start;
}
.footer-copyright {
    font-size: 14px;
    line-height: 1.8;
    color: rgb(255, 255, 255, 0.30);
}
.footer-contact {
    text-align: left;
}
}